# Folders
data/
logs/
/scripts/
*__pycache__
tutorials
.venv/
**/env/*

services/rekordbox_syncer/scripts/

# filetypes
*.DS_Store
*.cache*
*.pdf
*.env
*.csv
*.parquet

# obsidian
.obsidian/graph.json
.obsidian/workspace.json
!**/env/.env.example
