# Folders
data/
logs/
scripts/*
*__pycache__
tutorials
.venv/

# files
*.DS_Store
*.cache*
diff_xml.yaml
download.yaml
spotiplaylist.yaml
connection.yaml
*.pdf
*.ipynb
*.env
*.csv
*.json
*.parquet

# include files
!scripts/create_new_arrivals_playlists.sh
