# Folders
data/
logs/
/scripts/
*__pycache__
tutorials
.venv/
**/env/*

services/rekordbox_syncer/scripts/*
!services/rekordbox_syncer/scripts/change_location.sh
!services/rekordbox_syncer/scripts/sync_drive.sh
services/rekordbox_syncer/config/*
!**/env/.env.change_location.example
!**/env/.env.sync.example
!services/rekordbox_syncer/config/secondary_library_refresh.example.yaml

# filetypes
*.DS_Store
*.cache*
*.pdf
*.env
*.csv
*.parquet

# obsidian
.obsidian/graph.json
.obsidian/workspace.json
!**/env/.env.example
