SPOTIFY_URL=your/spotify/playlist/url
OUTPUT_FOLDER=/folder/for/csv
CONFIG_PATH=/path/to/config.json
DOWNLOAD_DESTINATION=~/Downloads

CLIENT_ID=your_client_id - or leave empty
CLIENT_SECRET=your_client_secret or leave empty