MASTER_MUSIC_FOLDER="/Users/your-user/Music/Music Collection"
SLAVE_MUSIC_FOLDER="/Volumes/your-hard-drive/Music Collection"
MASTER_XML_FOLDER="/Users/your-user/Documents/rekordbox"
SLAVE_XML_FOLDER="/Volumes/your-hard-drive/rekordbox xml"
