PATH_TO_RB="/path/to/your/rekordbox-library.xml"
OLD_LOCATION="Users/your-user/Music"
NEW_LOCATION="C:/Users/your-user/Music"
SAVE_LOCATION="/path/to/your/updated-rekordbox-library.xml"
LOCATION_OF_INTEREST="Music%20Collection"
